@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/*------ GLOBAL -------*/

body::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background: var(--main-orange);
  border-radius: 0px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background: var(--main-black);
}
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

a,
button {
  user-select: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0px;
  outline: none;
  box-shadow: none;
  transition-duration: 0.3s !important;
}

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: white;
}

:root {
  --main-black: #1e252b;
  --main-orange: #ff6e30;
}

/*------ GLOBAL -------*/

/*--header--*/

.header {
  border-bottom: 1px solid var(--main-orange);
  box-shadow: 0px 5px 10px black;
}
.header .container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header-nav {
  width: 100%;
}
.header-nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 24px;
}
.header--link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.55);
}
.header--link:hover,
.header--link.active {
  color: rgb(255, 255, 255);
}
.searchform_container {
  display: flex;
  gap: 12px;
  align-items: center;
}
.search--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search--btn svg path {
  transition-duration: 0.3s;
}
.search--btn:hover svg path {
  stroke-opacity: 1;
}

/*--header--*/

/*--main--*/

.tab {
  width: 100%;
  display: none;
}
.tab.active {
  display: block;
}
.tab .container {
  padding: 20px;
}
.tab-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}
.inputs-group-wrapper {
  width: 100%;
  padding: 0px 50px;
  position: relative;
  margin-bottom: 20px;
}
.inputs-group {
  overflow-y: auto;
  height: 550px;
  position: relative;
  background: #272b30;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
}

.inputs-group::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0px;
  height: 8px;
}
.inputs-group::-webkit-scrollbar-thumb {
  background: var(--main-orange);
  border-radius: 0px;
}
.inputs-group-row {
  position: relative;
  display: flex;
  gap: 20px;
  width: fit-content;
}
.fixed__column {
  position: sticky !important;
  left: 0;
  z-index: 1100;
  background-color: #272b30;
}
.inputs-group-name {
  min-width: 300px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
}
.head__group {
  width: max-content;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #272b30;
}
.inputs-group-name:nth-child(1) {
  min-width: 70px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
}
.inputs-group-name-text {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.3s;
}
.input-t {
  max-width: 280px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--main-orange);
  padding: 4px 16px;
  background: #283036;
}
.input-wrapper {
  position: relative;
  min-width: 300px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input-wrapper:nth-child(1) {
  position: relative;
  min-width: 70px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.scroll {
  position: absolute;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.scroll.left {
  left: 0;
}
.scroll.right {
  right: 0;
}
.scroll:hover {
  color: var(--main-orange);
  background: rgba(255, 255, 255, 0.15);
}
.chosen-container-single .chosen-single {
  border: 1px solid var(--main-orange);
  border-radius: 8px;
  background: #283036;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid var(--main-orange);
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  background: #283036;
  box-shadow: none;
}
.chosen-container-single .chosen-drop {
  border: 1px solid var(--main-orange);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  background: #283036;
}
.link--btn {
  display: flex;
  max-width: fit-content;
  padding-bottom: 4px;
  font-size: 16px;
  color: white;
  line-height: 100%;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}
.link--btn:hover {
  color: var(--main-orange);
  border-bottom: 1px solid var(--main-orange);
}
.case--set-card-back,
.remove--set-card-back,
.partner--set-card-back,
.helper--set-card-back,
.responsible--set-card-back,
.case--diff-card-back,
.ay--set-card-back,
.card-back {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #28303675;
  z-index: 10000;
}
.case--set-card,
.partner--set-card,
.remove--set-card,
.helper--set-card,
.responsible--set-card,
.case--diff-card,
.ay--set-card,
.card {
  max-width: 300px;
  min-height: 200px;
  border-radius: 8px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  filter: drop-shadow(0px 0px 10px solid black);
  border: 1px solid var(--main-orange);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 14px;
}
.btn--orange {
  background: var(--main-orange);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px 12px;
  font-weight: 400;
  font-size: 18px;
  color: white;
  border-radius: 8px;
}
.btn--orange:hover {
  background: #272b30;
  border: 1px solid var(--main-orange);
}
.input-case.invalid::placeholder {
  color: red;
}
.case-num {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 8px;
}
.case-link {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--main-orange);
  margin-bottom: 12px;
}
.case-link:hover {
  opacity: 0.6;
}
.input-wrapper.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.dop-docs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}
.dop-docs-label {
  width: 45%;
  font-size: 14px;
}
.case--diff-card {
  max-width: 600px;
}
.select-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}
.select-wrapp {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  color: #272b30;
  font-size: 14px;
}
.diff-case-wrapper {
  width: 100%;
  padding: 0px 12px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.delete__client {
  min-width: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.delete__client svg {
  transform: scale(180%);
}
.delete__remove {
  min-width: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.delete__remove svg {
  transform: scale(180%);
}
.delete__withdrawals {
  min-width: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.delete__withdrawals svg {
  transform: scale(180%);
}
.input-textarea {
  resize: none;
}
.input-textarea::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 0px;
}
.input-textarea::-webkit-scrollbar-thumb {
  background: var(--main-orange);
  border-radius: 0px;
}
.group-name-label {
  position: relative;
  user-select: none;
  cursor: pointer;
}
.input-hide {
  width: 1px;
  height: 1px;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  visibility: hidden;
}
.group-name-label .input-checkbox:checked + .inputs-group-name-text {
  color: var(--main-orange);
}
.custom-checkbox-label {
  user-select: none;
  cursor: pointer;
  margin-top: 8px;
}
.custom-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.custom-checkbox-wrapper span {
  font-size: 14px;
  line-height: 100%;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.3s;
}
.custom-checkbox {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid var(--main-orange);
  background-color: var(--main-black);
  padding: 1px;
  position: relative;
  transition-duration: 0.3s;
}
.custom-checkbox-circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: var(--main-orange);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(0% + 2px);
  transition-duration: 0.3s;
}
.custom-checkbox-label
  .input-checkbox:checked
  + .custom-checkbox-wrapper
  .custom-checkbox {
  background-color: white;
}
.custom-checkbox-label
  .input-checkbox:checked
  + .custom-checkbox-wrapper
  .custom-checkbox
  .custom-checkbox-circle {
  background: var(--main-orange);
  left: calc(100% - 18px);
}
.custom-checkbox-label .input-checkbox:checked + .custom-checkbox-wrapper span {
  color: var(--main-orange);
}
.family--set-card {
  max-width: 520px;
}
.banks--set-card {
  max-width: 420px;
  max-height: 400px;
}
.banks-popup-row {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 12px;
}
.banks--set-card-inputs {
  width: 100%;
  display: flex;
  gap: 8px 12px;
  flex-wrap: wrap;
}
.banks--set-add {
  max-width: 100%;
  width: 100%;
}
.banks-popup-row::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 0px;
  height: 4px;
}
.banks-popup-row::-webkit-scrollbar-thumb {
  background: var(--main-orange);
  border-radius: 0px;
}
.banks-popup-row-item {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;
  background: #272b30;
  border: 1px solid var(--main-orange);
  position: relative;
}
.banks-popup-row-item p {
  font-size: 14px;
  line-height: 100%;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}
.banks-popup-row-item:hover .banks-popup-row-item--btn {
  opacity: 1;
}
.banks-popup-row-item--btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 6px;
  right: 6px;
  opacity: 0;
}

/*--main--*/

/*--Прелоадер и попап ошибки--*/
.preloader {
  position: fixed;
  display: none;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lds-dual-ring {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 1%;
  width: 50px;
  height: 50px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 35px;
  height: 35px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup__error--back {
  position: fixed;
  display: none;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup__error--body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
.popup__error--close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: black;
  line-height: 1;
}
.popup__error--image {
  max-width: 100px;
  margin: 0 auto;
}
.popup__error--title {
  color: black;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin: 15px auto;
}
.popup__error--text {
  color: black;
  font-size: 18px;
  text-align: center;
}
.popup__error--btnGroup {
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 30px;
}
.popup__error--confirm {
  background-color: var(--main-orange);
  font-size: 20px;
  color: white;
  padding: 6px 20px;
  border-radius: 5px;
}
.button__group {
  display: flex;
  gap: 10px;
  align-items: center;
}
/*--Прелоадер и попап ошибки--*/
/*--Сортировка по столбцам--*/
.ui-datepicker {
  z-index: 1001 !important;
}
/*--Сортировка по столбцам--*/

/*--client--*/

.client-table-list {
  width: 100%;
  border: 1px solid #ff6e30a8;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px !important;
  background: #283036;
}
.client-table-item {
  width: 100%;
  display: flex;
  background: #272b30;
  justify-content: space-between;
}
.client-table-item:last-child {
  border-bottom: none;
}
.client-table-item_name {
  width: calc(50% - 2px);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #1e252b;
  padding: 4px;
}
.client-table-item_name-text {
  font-size: 18px;
  line-height: 100%;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}
.client-table-item_name-value {
  font-size: 18px;
  line-height: 100%;
  font-weight: normal;
  color: #ff6e30d8;
}
.client-select-wrapper {
  position: relative;
  margin-bottom: 20px;
  max-width: 220px;
}
.client-select-wrapper .chosen-container .chosen-results {
  max-height: 120px;
}
.client-table-row {
  width: 100%;
  display: flex;
  gap: 12px;
}
.client-table-row:first-child {
  border-bottom: 1px solid #ff6e30d8;
  padding-bottom: 4px;
}
.client-table-row.top .client-table-item {
  padding: 4px;
  border: 1px solid #ffffff28;
}
/*--client--*/
/*--PAGINATION--*/

.pager_link {
  position: absolute;
  right: 0;
  align-items: center;
  display: flex;
  gap: 10px;
  padding-top: 20px !important;
}
.pager_link li {
  background: var(--main-orange);
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 18px;
  border-radius: 8px;
  transition-duration: 0.6s;
}
.pager_link li:hover,
.pager_link li.active {
  background: #272b30;
  border: 1px solid var(--main-orange);
}
.pager_link li a,
.pager_link li span {
  padding: 12px 14px;
}

/*--PAGINATION--*/
